<div class="wrapper wrapper-content">

<div class="row">
<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
              <h1 style="margin-left: 20px; margin-top:0px;">{{ 'SITES' | translate }}</h1>
                <div class="row">
                    <div class="col-lg-6" ng-controller="dashboardMap as map">
                        <div vector-map style="height: 400px; width:1000px" class="col-lg-6 !important" my-map-data="map.data"  onclick="location.href='index.html#/app/projects'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" style="margin-top: -30px;">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-content">
<div class="row m-b-sm m-t-sm">
    <h1 style="margin-left: 30px;">Tus Voluntariados</h1>
</div>
<div class="project-list">

<table class="table table-hover">
<tbody>
<tr>
    <td class="project-status">
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Repoblar los bosques quemados en California por los incendios</a>
        <br/>
        <small>Creado el 01.02.2017</small>
    </td>
    <td class="project-completion">

    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
