<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            
                    <img src="img/logoo.svg" height="110" alt="Nice green circle" style="margin-bottom: 10px; margin-top: 20px;"/>
        </div>
        <h3>Bienvenido a MasScience</h3>
        <p>Conectamos voluntarios que quieran vivir una experiencia colaborativa con expertos de todo el mundo que necesiten ayuda.
        </p>
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Correo electrónico" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="">
            </div>

                                                <button type="button" class="btn btn-warning btn-sm btn-block" onclick="location.href='index.html#/dashboards/dashboard_2'" style="background: #1ac4e0; 
                                            background: -moz-linear-gradient(45deg, #1ac4e0 0%, #91be16 100%); 
                                            background: -webkit-linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            background: linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4e0', endColorstr='#91be16',GradientType=1 ); border-color:#91be16 !important; "><i class="fa fa-angellist"></i>  <strong>Entrar </strong></button>

            <a ui-sref="forgot_password"><small>¿Has olvidado los datos de la cuenta?</small></a>
            <p class="text-muted text-center"><small>¿No tienes una cuenta?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Registrate</a>
        </form>
        <p class="m-t"> <small>Copyright &copy;2017 MasScience</small> </p>
    </div>
</div>
