<div class="wrapper wrapper-content">
<div class="row">
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <h5>Carpetas</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a ui-sref="inbox"> <i class="fa fa-comment "></i> Conversaciones <span class="label label-warning pull-right" style="background-color: #18a3be !important;border:0px;">2</span> </a></li>
                    <li><a ui-sref="inbox"> <i class="fa fa-certificate"></i> Importantes</a></li>
                    <li><a ui-sref="inbox"> <i class="fa fa-trash-o"></i> Eliminados</a></li>
                </ul>
                <h5>Categorias</h5>
                <ul class="category-list" style="padding: 0">
                    <li><a href=""> <i class="fa fa-circle text-navy"></i> Científico </a></li>
                    <li><a href=""> <i class="fa fa-circle text-danger"></i> Agrícola</a></li>
                    <li><a href=""> <i class="fa fa-circle text-primary"></i> Tecnológico</a></li>
                    <li><a href=""> <i class="fa fa-circle text-info"></i> ...</a></li>
                    <li><a href=""> <i class="fa fa-circle text-warning"></i> ...</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 animated fadeInRight">
<div class="mail-box-header">

    <form method="get" action="index.html" class="pull-right mail-search">
        <div class="input-group">
            <input type="text" class="form-control input-sm" name="search" placeholder="Buscar chat">

            <div class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-primary" style="background: #1ac4e0; 
                                            background: -moz-linear-gradient(45deg, #1ac4e0 0%, #91be16 100%); 
                                            background: -webkit-linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            background: linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4e0', endColorstr='#91be16',GradientType=1 ); ">
                    Buscar
                </button>
            </div>
        </div>
    </form>
    <h2>
        Chats (2)
    </h2>

    <div class="mail-tools tooltip-demo m-t-md">
        <div class="btn-group pull-right">
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

        </div>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Actualizar</button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i></button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i></button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>

    </div>
</div>
<div class="mail-box">

    <table class="table table-hover table-mail">
        <tbody>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check11">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Anna Smith</a> <span class="label label-warning pull-right"  style="background-color: #18a3be !important;border:0px;">Nuevo mensaje</span></td>
            <td class="mail-subject"><a ui-sref="email_view">Lorem ipsum dolor noretek imit set.</a></td>
            <td class=""><i class="fa fa-paperclip"></i></td>
            <td class="text-right mail-date">6.10 AM</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check12">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Jack Nowak</a></td>
            <td class="mail-subject"><a ui-sref="email_view">Aldus PageMaker including versions of Lorem Ipsum.</a></td>
            <td class=""></td>
            <td class="text-right mail-date">8.22 PM</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check13">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Mailchip</a></td>
            <td class="mail-subject"><a ui-sref="email_view">There are many variations of passages of Lorem Ipsum.</a></td>
            <td class=""></td>
            <td class="text-right mail-date">Mar 22</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check14">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Alex T.</a> <span class="label label-warning pull-right"  style="background-color: #18a3be !important;border:0px;">Nuevo mensaje</span></td>
            <td class="mail-subject"><a ui-sref="email_view">Lorem ipsum dolor noretek imit set.</a></td>
            <td class=""><i class="fa fa-paperclip"></i></td>
            <td class="text-right mail-date">December 22</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check15">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Monica Ryther</a></td>
            <td class="mail-subject"><a ui-sref="email_view">The standard chunk of Lorem Ipsum used.</a></td>
            <td class=""></td>
            <td class="text-right mail-date">Jun 12</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check16">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Sandra Derick</a></td>
            <td class="mail-subject"><a ui-sref="email_view">Contrary to popular belief.</a></td>
            <td class=""></td>
            <td class="text-right mail-date">May 28</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check17">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Patrick Pertners</a></td>
            <td class="mail-subject"><a ui-sref="email_view">If you are going to use a passage of Lorem </a></td>
            <td class=""></td>
            <td class="text-right mail-date">May 28</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check18">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Michael Fox</a></td>
            <td class="mail-subject"><a ui-sref="email_view">Humour, or non-characteristic words etc.</a></td>
            <td class=""></td>
            <td class="text-right mail-date">Dec 9</td>
        </tr>
        <tr class="read">
            <td class="check-mail">
                <input icheck type="checkbox" ng-model="check19">
            </td>
            <td class="mail-ontact"><a ui-sref="email_view">Damien Ritz</a></td>
            <td class="mail-subject"><a ui-sref="email_view">Oor Lorem Ipsum is that it has a more-or-less normal.</a></td>
            <td class=""></td>
            <td class="text-right mail-date">Jun 11</td>
        </tr>
        </tbody>
    </table>


</div>
</div>
</div>
</div>
