<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfil</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html#/dashboards/dashboard_2">Inicio</a>
            </li>
            <li class="active">
                <strong>Perfil</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="img/profile_small.jpg" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            David Williams
                        </h2>                    <p class="small font-bold">
                        <span><i class="fa fa-circle text-navy"></i> Online status</span>
                    </p>
                        <h4>Voluntario</h4>
                        <small>
                            Soy un ingeniero que acaba de terminar la carrera y quiere vivir experiencias en otros países, ayudando a los más necesitados y colaborando con la madre naturaleza.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>1</strong> Colaboraciones
                    </td>
                    <td>
                        <strong>4</strong> Fotos Publicadas
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>61</strong> Comentarios
                    </td>
                    <td>
                        <strong>54</strong> Likes
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>2</strong> Chats Abiertos
                    </td>
                    <td>
                        <strong>1</strong> Favoritos
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div class="row">

        <div class="col-lg-3">

            <div class="ibox">
                <div class="ibox-content">
                    <h3>Fotos</h3>
                        <div class="lightBoxGallery">
                        <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/1s.jpg"></a>
                        <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/2s.jpg"></a>
                        <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/3s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/7s.jpg"></a>
                        <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/8s.jpg"></a>
                        <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/9s.jpg"></a>
                       <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/10s.jpg"></a>
                       <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img style="height: 72px !important;margin-bottom: 3px;" src="img/gallery/2s.jpg"></a>
                        </div>
                </div>
            </div>


        </div>

        <div class="col-lg-6">

            <div class="social-feed-box">

                <div class="pull-right social-action dropdown">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a href="#">Config</a></li>
                    </ul>
                </div>
                <div class="social-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/a1.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                    </div>
                </div>
                <div class="social-body">
                    <p>
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover many web sites still
                        in their infancy. Packages and web page editors now use Lorem Ipsum as their
                        default model text.
                    </p>

                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                    </div>
                </div>
                <div class="social-footer">
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>
                            Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                            <br/>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                            <small class="text-muted">12.06.2014</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>
                            Making this the first true generator on the Internet. It uses a dictionary of.
                            <br/>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                            <small class="text-muted">10.07.2014</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a3.jpg">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="Write comment..."></textarea>
                        </div>
                    </div>

                </div>

            </div>

            <div class="social-feed-box">

                <div class="pull-right social-action dropdown">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a href="#">Config</a></li>
                    </ul>
                </div>
                <div class="social-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/a6.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                    </div>
                </div>
                <div class="social-body">
                    <p>
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover many web sites still
                        in their infancy. Packages and web page editors now use Lorem Ipsum as their
                        default model text.
                    </p>
                    <p>
                        Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover many web sites still
                        in their infancy. Packages and web page editors now use Lorem Ipsum as their
                        default model text.
                    </p>
                    <img src="img/gallery/3.jpg" class="img-responsive">
                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                    </div>
                </div>
                <div class="social-footer">
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>
                            Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                            <br/>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                            <small class="text-muted">12.06.2014</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>
                            Making this the first true generator on the Internet. It uses a dictionary of.
                            <br/>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                            <small class="text-muted">10.07.2014</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a8.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>
                            Making this the first true generator on the Internet. It uses a dictionary of.
                            <br/>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                            <small class="text-muted">10.07.2014</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/a3.jpg">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="Write comment..."></textarea>
                        </div>
                    </div>

                </div>

            </div>




        </div>
        <div class="col-lg-3 m-b-lg">
                    <div class="widget red-bg p-lg text-center" style=" margin-top: 0px;background: #1ac4e0; 
                                            background: -moz-linear-gradient(45deg, #1ac4e0 0%, #91be16 100%); 
                                            background: -webkit-linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            background: linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4e0', endColorstr='#91be16',GradientType=1 ); ">
            <div class="m-b-md" >
                <i class="fa fa-trophy fa-4x"></i>

                <h1 class="m-xs">47</h1>

                <h3 class="font-bold no-margins">
                    Puntos
                </h3>
                <small>Aportación que hizo al mundo.</small>
            </div>
        </div>
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Amigos</h3>
                    <div class="user-friends">
                        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a8.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
