<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Proyecto</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html#/dashboards/dashboard_2">Home</a>
            </li>
            <li>
                <a href="index.html#/app/projects">Lista de Proyectos</a>
            </li>
            <li class="active">
                <strong>Proyecto</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Iniciativa Bosques</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>Repoblar los bosques quemados en California por los incendios</strong></h4>

                        <p><i class="fa fa-map-marker"></i> EE.UU - Boston 32/101</p>
                        <h5>
                            Sobre el Proyecto
                        </h5>

                        <p>
                            Estamos impulsando una iniciativa de colaboración para reducir las emisiones de la deforestación y la degradación de bosques (REDD). 
                        </p>
                        <div class="row m-t-lg" style="margin-top: 0px; ">
                            <div  class="col-md-12">
                                <strong>Voluntarios</strong>
                                <progressbar value="40" type="success" class="progress-striped active"></progressbar>
                            </div>
                            <div class="col-md-4">
                                <bar-chart data="main.BarChart3.data" options="main.BarChart3.options"></line-bar>
                                <h5><strong>16</strong> Compartido</h5>
                            </div>
                            <div class="col-md-4">
                                <line-chart data="main.LineChart.data" options="main.LineChart.options"></line-bar>
                                <h5><strong>28</strong> Favoritos</h5>
                            </div>
                            <div class="col-md-4">
                                <bar-chart data="main.BarChart2.data" options="main.BarChart2.options"></line-bar>
                                <h5><strong>240</strong> Me gusta</h5>
                            </div>
                        </div>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-warning btn-sm btn-block" style="background: #1ac4e0; 
                                            background: -moz-linear-gradient(45deg, #1ac4e0 0%, #91be16 100%); 
                                            background: -webkit-linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            background: linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4e0', endColorstr='#91be16',GradientType=1 ); border-color:#91be16 !important; "><i class="fa fa-angellist"></i>  <strong>Quiero ir!! </strong></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 dim">
                                    <button type="button" class="btn btn-primary btn-sm btn-block" style="background-color: #91be16 !important;border:0px;"
                                     ng-click="style='visibility:hidden'"><i class="fa fa-comment"></i> </button>
                                </div>
                                <div class="col-md-4 dim">
                                    <button type="button" class="btn btn-primary btn-sm btn-block" style="background-color: #91be16 !important;border:0px;"><i class="fa fa-bookmark"></i> </button>
                                </div>
                                <div class="col-md-4 dim">
                                    <button type="button" class="btn btn-primary btn-sm btn-block" style="background-color: #91be16 !important;border:0px;"><i class="fa fa-heart"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Historias destacadas</h5>

                    <!--<div ibox-tools></div>-->
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a1.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right text-navy">1m ago</small>
                                    <strong>Sandra Momot</strong> esta siguiendo a <strong>Iniciativa Bosques</strong>. <br>
                                    <small class="text-muted">Hoy 4:21 pm - 10.03.2017</small>
                                    <!--<div class="actions">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                    </div>-->
                                </div>
                            </div>

                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a5.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">5m ago</small>
                                    <strong>Monica Smith</strong> dio <strong>Like</strong> a la iniciativa. <br>
                                    <small class="text-muted">Hoy 5:60 pm - 10.03.2017</small>

                                </div>
                            </div>

                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a2.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">2h ago</small>
                                    <strong>Mark Johnson</strong> publico un mensaje en <strong>Iniciativa Bosques</strong> <br>
                                    <small class="text-muted">Hoy 2:10 pm - 10.03.2017</small>
                                    <div class="well">
                                        Hoy fue mi primer día de trabajo con los de la asociación. Venia con miedo, pero esta siendo mejor de lo que me esperaba. Necesitamos gente y animo a otros a que se unan a la causa. Gracias Iniciativa Bosques por darme la oportunidad.
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Me gusta </a>
                                        <a class="btn btn-xs btn-primary"  style="background-color: #91be16 !important;border:0px;"><i class="fa fa-pencil"></i> Contestar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a3.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">2h ago</small>
                                    <strong>Janet Rosowski</strong> compartio 2 imagenes en <strong>Iniciativa Bosques</strong>. <br>
                                    <small class="text-muted">2 days ago at 8:30am</small>
                                    <div class="photos">
                                        <a target="_blank" href="http://24.media.tumblr.com/20a9c501846f50c1271210139987000f/tumblr_n4vje69pJm1st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo"
                                                                                                                                                                        src="img/p1.jpg"></a>
                                        <a target="_blank" href="http://37.media.tumblr.com/9afe602b3e624aff6681b0b51f5a012b/tumblr_n4ef69szs71st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo"
                                                                                                                                                                        src="img/p3.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.01.2017</small>
                                    <div class="actions">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a5.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">2h ago</small>
                                    <strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                    <small class="text-muted">Yesterday 5:20 pm - 12.01.2017</small>
                                    <div class="well">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.01.2017</small>
                                </div>
                            </div>
                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.01.2017</small>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.03.2017
        </small>
        Chat
    </div>

    <div class="content" chat-slim-scroll>

        <div class="left">
            <div class="author-name">
                Iniciativa Bosques<small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active" style="background-color: #18A3BE !important;border:0px;">
                Lorem Ipsum is simply dummy text input.
            </div>

        </div>
        <div class="right">
            <div class="author-name">
                David Williams
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum is simpl.
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Iniciativa Bosques
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active" style="background-color: #18A3BE !important;border:0px;">
                Check this stock char.
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                David Williams
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                The standard chunk of Lorem Ipsum
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Iniciativa Bosques
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active" style="background-color: #18A3BE !important;border:0px;">
                I belive that. Lorem Ipsum is simply dummy text.
            </div>
        </div>


    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button" style="background-color: #91be16 !important;border:0px;">Enviar
        </button> </span></div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">1</span>
    <a class="open-small-chat" style="background: #1ac4e0; 
                                            background: -moz-linear-gradient(45deg, #1ac4e0 0%, #91be16 100%); 
                                            background: -webkit-linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            background: linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4e0', endColorstr='#91be16',GradientType=1 ); border-color:#91be16 !important; ">
        <i class="fa fa-comments"></i>

    </a>
</div>
