<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista de Proyectos en EEUU</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html#/dashboards/dashboard_2">Inicio</a>
            </li>
            <li class="active">
                <strong>Lista de Proyectos</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-content">
<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Actualizar</button>
    </div>
    <div class="col-md-11">
        <div class="input-group"><input type="text" placeholder="Buscar" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" style=" margin-top: 0px;background: #1ac4e0; 
                                            background: -moz-linear-gradient(45deg, #1ac4e0 0%, #91be16 100%); 
                                            background: -webkit-linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            background: linear-gradient(45deg, #1ac4e0 0%,#91be16 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac4e0', endColorstr='#91be16',GradientType=1 ); "> Empezar!</button> </span></div>
    </div>
</div>

<div class="project-list">

<table class="table table-hover">
<tbody>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Repoblar los bosques quemados en California por los incendios</a>
        <br/>
        <small>Creado el 14.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 48%</small>
        <div class="progress progress-mini">
            <div style="width: 48%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Acompañamiento a enfermos de esclarosis</a>
        <br/>
        <small>Creado el 11.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 28%</small>
        <div class="progress progress-mini">
            <div style="width: 28%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-default">Completo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Apoyo en sensibilización y conservación</a>
        <br/>
        <small>Creado el 10.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 100%</small>
        <div class="progress progress-mini">
            <div style="width: 100%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Empleo para colectivos vulnerables</a>
        <br/>
        <small>Creado el 22.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 75%</small>
        <div class="progress progress-mini">
            <div style="width: 75%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Información médica a comunidades</a>
        <br/>
        <small>Creado el 14.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 50%</small>
        <div class="progress progress-mini">
            <div style="width: 50%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Apoyo, gestión y organización del programa Yoayu</a>
        <br/>
        <small>Creado el 14.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 48%</small>
        <div class="progress progress-mini">
            <div style="width: 48%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Cuidado de Planta Forestal en vivero artesanal</a>
        <br/>
        <small>Creado el 11.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 28%</small>
        <div class="progress progress-mini">
            <div style="width: 28%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-default">Completo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Voluntariado Parque Regional del Sureste</a>
        <br/>
        <small>Creado el 10.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 100%</small>
        <div class="progress progress-mini">
            <div style="width: 100%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Orientación para el empleo a inmigrantes</a>
        <br/>
        <small>Creado el 22.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 75%</small>
        <div class="progress progress-mini">
            <div style="width: 75%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Contrary to popular belief</a>
        <br/>
        <small>Creado el 14.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 97%</small>
        <div class="progress progress-mini">
            <div style="width: 97%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary" style="background-color: #91be16 !important;border:0px;">Activo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">There are many variations of passages</a>
        <br/>
        <small>Creado el 11.02.2017</small>
    </td>
    <td class="project-completion">
        <small>Voluntarios al 28%</small>
        <div class="progress progress-mini">
            <div style="width: 28%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="index.html#/app/profile" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-comment"></i> Chat </a>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
