<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header" style="margin-bottom: -26px;">

                    <img src="img/logoo.svg" height="60" alt="Nice green circle" style="margin-top: -25px;margin-bottom: 10px;"/>
                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong> <span style="color: #91be16; font-size: 9px;">Voluntario</span>
                             </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboards.dashboard_2"><i class="fa fa-th-large"></i> <span class="nav-label">Inicio</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="mailbox.inbox"><i class="fa fa-comments"></i> <span class="nav-label">{{ 'MAILBOX' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboards.dashboard_3"><i class="fa fa-bookmark"></i> <span class="nav-label">Favoritos</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile_2"><i class="fa fa-user"></i> <span class="nav-label">Perfil</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboards.dashboard_4"><i class="fa fa-cogs"></i> <span class="nav-label">Configuración</span> </a>
            </li>

        </ul>

    </div>
</nav>
